body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Kanit", sans-serif;
    font-style: normal;
}

header{
    margin-left: 2%;
    margin-top: 5%;
    vertical-align: middle;

   }

   header> img{
    vertical-align: middle;
   }

header> span{
    margin-left: 5px; 
    font-size: 50px;
    vertical-align: middle;
}

main{
    background-color: rgba(124, 121, 121, 0.2);
}

.layout{
    margin: 5px 15% ;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}

button{
    padding: 1%;
    border-radius: 15px;
    background-color: white;
    color: grey;
}

#bottonemod{
    background-color: rgb(59, 155, 245);
    color: white;
}

.spacing {
    margin-left: 10%;
}

.item{
    font-size: 20px;
}

.label{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    margin-left: 5px;
    color: white;
}

.blu{
    background-color: cornflowerblue;
}

.verde{
    background-color: rgb(108, 233, 36);
}

.rose{
    background-color: deeppink;
}

.violet{
    background-color: blueviolet;
}

.green{
    background-color: rgb(43, 75, 12);
}

.orange{
    background-color: orange;
}